html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -overflow-scrolling: touch;
  overflow-y: scroll;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

.menu-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

.menu {
  height: 100vh;
  position: absolute;
  z-index: 5;
}

.menu .menu-left,
.menu .menu-right {
  width: 50vw;
  position: fixed;
  height: 100vh;
  background: #1a1a1a;
  color: white;
  z-index: 5;
}

.menu .menu-right {
  left: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.menu .menu-right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1100px) {
  .menu .menu-right .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-bottom: 15%;
    margin-bottom: 35%;
  }
}

.menu .menu-right .contact .mail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (max-width: 1100px) {
  .menu .menu-right .contact .mail {
    padding-bottom: 15%;
  }
}

.menu .menu-right .contact .socials {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1100px) {
  .menu .menu-right .contact .socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20px;
  }
}

.menu .menu-right .contact .socials, .menu .menu-right .contact .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu .menu-right {
  left: 100vw;
}

.menu .menu-left {
  right: 100vw;
  z-index: 5;
}

.menu .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: inherit;
  padding-left: 15%;
}

.menu .menu-links a {
  font-size: 3rem;
}

@media (max-width: 1100px) {
  .menu .menu-links a {
    font-size: 1rem;
  }
}

.menu .menu-links a span {
  font-size: 15px;
}

@media (max-width: 1100px) {
  .menu .menu-links a span {
    font-size: 10px;
  }
}

.menu-close {
  position: fixed;
  z-index: 6;
  right: 50px;
  top: 20px;
  height: 25px;
}

@media (max-width: 1100px) {
  .menu-close {
    right: 20px;
  }
}

.menu-open {
  position: fixed;
  top: 10px;
  right: 30px;
  color: white;
  z-index: 4;
}

@font-face {
  font-family: Writer;
  src: url(../fonts/PPWriter-Regular.otf);
}

h2 {
  font-size: 3.5rem;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Writer';
}

@media (max-width: 1100px) {
  h2, h3, h4 {
    font-size: 1.25rem;
  }
}

body, p, span, a, li {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1100px) {
  body, p, span, li {
    font-size: .7rem;
  }
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  color: #d10000;
}

.btn {
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 15px 30px;
}

.btn-dark {
  background-color: #000000;
}

.bg-dark {
  background-color: #000000b3 !important;
}

.btn-danger {
  background: #d10000;
}

.btn-danger:hover {
  background: #9e0000;
}

nav.navbar {
  position: fixed;
  z-index: 3;
  background-color: transparent;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

nav.navbar li {
  padding: 5px 0;
}

nav.navbar li a {
  font-family: 'Writer';
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.opener-wrapper {
  height: 100vh;
  position: fixed;
  padding: 0;
  overflow: hidden;
  z-index: 9999999;
}

.opener-wrapper .logo-opener {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.opener-wrapper .container-opener {
  height: 100%;
  position: absolute;
  width: 100%;
  background: #1a1a1a;
  z-index: 5;
}

.container-fluid.container-home {
  position: relative;
  padding: 0;
  z-index: 2;
  top: 0;
  background: #1a1a1a;
  background-attachment: fixed;
}

@media (max-width: 1100px) {
  .container-fluid.container-home {
    padding: 15px;
    text-align: center;
  }
}

.music-container {
  position: absolute;
  width: 80%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

@media (max-width: 1100px) {
  .music-container {
    bottom: -10%;
  }
}

.music-container .img-container, .music-container .music-info {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (max-width: 1100px) {
  .music-container .music-info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.music-container p#title {
  max-width: 100%;
  font-family: 'Writer';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin-bottom: 0px;
}

@media (max-width: 1100px) {
  .music-container p#title {
    margin-bottom: 0;
  }
}

.music-container .music-info {
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.music-container .progress-container {
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.music-container .img-container img {
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 70px;
  margin-bottom: 10px;
}

@media (max-width: 1100px) {
  .music-container .img-container img {
    display: none;
  }
}

.music-container .progress-container {
  background: rgba(0, 0, 0, 0.201);
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0;
  height: 6px;
  width: 100%;
}

.music-container .progress {
  background-color: white;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.music-container ion-icon {
  color: rgba(255, 255, 255, 0.187);
  margin: 0px 10px;
  font-size: 2rem;
  cursor: pointer;
}

.music-container ion-icon:hover {
  color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.music-container.play .music-info {
  opacity: 1;
}

.music-container.play .progress-container {
  opacity: 1;
}

.music-container.play .img-container img {
  opacity: 1;
}

.container-home {
  background-color: black;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

.container-home video {
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.container-home h1 {
  font-size: 5rem;
  letter-spacing: 2px;
}

.container-home p {
  max-width: 70%;
  font-size: .9rem;
}

.container-home .flex-md-column {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row !important;
          flex-flow: row !important;
}

@media (max-width: 1100px) {
  .container-home h1 {
    font-size: 2rem;
  }
  .container-home img.selfie {
    height: 250px;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
    background: #1a1a1a;
  }
  .container-home p {
    max-width: 100%;
    font-size: .9rem;
  }
  .container-home .flex-md-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
}

@media (max-width: 1100px) {
  .fcc {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .fcc img {
    max-width: 75px;
  }
}

.container-work {
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 10%;
  background: #1a1a1a;
}

.container-work ion-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.mb-10 {
  margin-bottom: 10% !important;
}

.container-education {
  background: #1a1a1a;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 10%;
}

.portfolioWrapper {
  width: 300%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  z-index: 2;
}

@media (max-width: 1100px) {
  .portfolioWrapper {
    height: 100%;
  }
}

.portfolioWrapper .img-mock-up {
  height: 70%;
}

.container-color-scheme {
  height: 40px;
}

.color-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  mix-blend-mode: soft-light;
  margin: 0px;
}

@media (max-width: 1100px) {
  .color-overlay {
    height: 100%;
  }
}

.color-overlay-2 {
  height: 100vh;
  width: 100%;
  position: absolute;
  mix-blend-mode: soft-light;
  margin: 0px;
}

@media (max-width: 1100px) {
  .color-overlay-2 {
    height: 100%;
  }
}

.color-overlay-3 {
  height: 100vh;
  width: 100%;
  position: absolute;
  mix-blend-mode: soft-light;
  margin: 0px;
}

@media (max-width: 1100px) {
  .color-overlay-3 {
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .mobile-hidden {
    display: none !important;
  }
}

.container-hz {
  height: 100vh;
  padding-left: 30px !important;
}

.container-hz.container-fluid {
  padding: 0;
}

.container-hz h2 {
  margin-top: 5%;
  font-size: 2.5rem;
}

@media (max-width: 1100px) {
  .container-hz h2 {
    font-size: 1.5rem;
  }
}

.container-hz h3 {
  font-size: 1.25rem;
}

.container-hz hr {
  max-width: 50%;
  margin: 0;
  margin-bottom: 30px;
}

.container-hz p {
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .container-hz p {
    font-size: .7rem;
  }
}

.container-hz img {
  -o-object-fit: contain;
     object-fit: contain;
}

.container-hz .img-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .container-hz .container-text {
    min-height: 170px;
  }
  .container-hz .container-text.last {
    margin-bottom: 40px;
  }
}

.container-port-1 {
  background-image: url("../images/mangan-bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

@media (max-width: 1100px) {
  .container-port-1 {
    height: 100%;
  }
}

.container-port-1 .container-color-scheme .color-1 {
  background-color: #14253f;
}

.container-port-1 .container-color-scheme .color-2 {
  background-color: #245ab0;
}

.container-port-1 .container-color-scheme .color-3 {
  background-color: #153664;
}

.container-port-1 .container-color-scheme .color-4 {
  background-color: #f2c854;
}

.container-port-2 {
  background-image: url("../images/sse-bg.jpg");
  background-size: cover;
  height: 100vh;
}

@media (max-width: 1100px) {
  .container-port-2 {
    height: 100%;
  }
}

.container-port-2 .container-color-scheme .color-1 {
  background-color: #203553;
}

.container-port-2 .container-color-scheme .color-2 {
  background-color: #3b7edc;
}

.container-port-2 .container-color-scheme .color-3 {
  background-color: #2a4873;
}

.container-port-2 .container-color-scheme .color-4 {
  background-color: #739300;
}

.container-port-3 {
  background-image: url("../images/cheef-bg.jpg");
  background-color: #1a1a1a;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 1100px) {
  .container-port-3 {
    height: 100%;
  }
}

.container-port-3 .container-color-scheme .color-1 {
  background-color: #1a2b00;
}

.container-port-3 .container-color-scheme .color-2 {
  background-color: #7ca354;
}

.container-port-3 .container-color-scheme .color-3 {
  background-color: #93744e;
}

.container-port-3 .container-color-scheme .color-4 {
  background-color: #f9f6ef;
}

.work-experience-overlay {
  height: 70%;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  display: none;
}

#work {
  position: relative;
  z-index: 2;
}

#work .information {
  position: relative;
  z-index: 2;
}

.img-education {
  height: 75px;
  width: auto;
  margin: 15px;
}

#education {
  position: relative;
  z-index: 2;
}

#education a {
  font-family: 'Writer';
}

#education h2 {
  margin-bottom: 20px;
}

#education h3.certified {
  margin-bottom: 20px;
}

#education .carousel-inner {
  min-height: 60vh;
}

#education ul {
  list-style: none;
  padding-left: 25px;
}

#education ul li:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("../images/check-mark.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  left: 5px;
}

.carousel-item {
  padding-bottom: 40px;
}

.carousel-item h2 {
  text-align: center;
}

footer {
  background-color: black;
  padding: 2% 0;
  position: relative;
  z-index: 2;
}

footer .container-social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

footer .container-social ion-icon {
  margin-right: 10px;
}

@media (max-width: 1100px) {
  footer .col-lg-3 {
    text-align: center;
  }
}

.container-social-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-social-text p {
  width: 55px;
  height: 30px;
  margin: 0px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transform-origin: center;
          transform-origin: center;
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: -50px;
}

.container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 40px;
  position: relative;
  -webkit-transform: translate(40px, 0);
          transform: translate(40px, 0);
}

.container-social a {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#aboutMe {
  height: 120vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.8)), to(rgba(26, 26, 26, 0.8))), url("../images/home-bg.jpg");
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url("../images/home-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  #aboutMe {
    height: 100%;
  }
}

#aboutMe .aboutImg {
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio-identifier {
  position: absolute;
  height: 100vh;
  width: 40px;
  background: white;
  left: 0px;
  padding: 5px;
}

.portfolio-identifier p {
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  top: 70%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 14px;
}

@media (max-width: 1100px) {
  #wrapper-container-social-text {
    position: relative;
    left: -40px;
  }
}

.color-hover-title {
  margin-bottom: -10px !important;
  margin-top: 20px !important;
}

.work-container {
  margin: 0 0 12rem 0 !important;
}
/*# sourceMappingURL=style.css.map */